DATABASE_URL=postgresql://postgres:k%QszQn#T+*f5.7@db.yfeqbhruziiuhzxrtpob.supabase.co:5432/postgres
SUPABASE_URL=https://yfeqbhruziiuhzxrtpob.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmZXFiaHJ1emlpdWh6eHJ0cG9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5NjI5NzYsImV4cCI6MjA4NjUzODk3Nn0.1OtZv9ir6dYZwRUQcZbROA280A1FfAynTwhQxUXsbJk
SUPABASE_JWT_SECRET=udyogQYkV7PktdMieR+A0jJF7NaMB0VmJVXEKJoD3uVNMkfpqG10csXLz5Dh3HoGBWErr+QX05jwaI9+beIccw==
TELEGRAM_BOT_TOKEN=8003625434:AAEPT9aiu8n_XgqHcuXyLKu-hDkK_A4pZ4U
CORS_ORIGINS=http://localhost:3000
